<!-- <div class="backdrop is-hidden" data-modal>
    <div class="abaut__modal">
        <button type="button" class="modal__btn" data-modal-close>
        <svg class="icon__cloused" width="16" height="16">
            <use href="/src/images/icons.svg#icon-modal-close"></use>
        </svg>
        </button>
        <h2 class="abaut__modal__title">How it’s made?</h2>
        <div class="thumb-wrap">
            <iframe width="224" height="199" 
                src="https://www.youtube.com/embed/hO-7cz7gyAY" 
                title="How is Ice Cream Made?" 
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
                encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen
                poster="https://st2.depositphotos.com/2716715/5397/i/600/depositphotos_53977781-stock-photo-hand-holding-an-ice-cream.jpg?w=224">
            </iframe>
        </div>
        <p class="abaut-modal__text">Special techniques are employed to make ice cream that creates smaller ice crystals and incorporates air, which produces a soft texture.
            Constantly churning ice cream, whether by hand or mechanically, ensures that large, stiff ice crystals do not form within the mixture. The churning process also serves to introduce air and create a foam-like texture, further softening the mixture. 
        </p>
    </div>
</div>
<script>
(() => {
const refs = {
    openModalBtn: document.querySelector("[data-modal-open]"),
    closeModalBtn: document.querySelector("[data-modal-close]"),
    modal: document.querySelector("[data-modal]"),
    body: document.querySelector("body"),
};

refs.openModalBtn.addEventListener("click", toggleModal);
refs.closeModalBtn.addEventListener("click", toggleModal);

function toggleModal() {
    refs.modal.classList.toggle("is-hidden");
    refs.body.classList.toggle("no-scroll");
}
})();
</script> -->
