  <footer class="footer">
    <div class="footer__container container">
      <div class="footer__name">
        <p class="footer__title">
          Homemade ice cream made
          <span class="footer__title--bold">with passion</span>
        </p>
      </div>
      <div class="footer__communication">
        <div class="footer__social">
          <ul class="social list list">
            <li class="social__item">
              <a href="" class="social__link link">
                <svg class="social__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="" class="social__link link">
                <svg class="social__icon" width="20" height="16">
                  <use href="./images/icons.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="" class="social__link link">
                <svg class="social__icon" width="10" height="19">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__contact" id="tocontacts">
          <p class="footer__invite">Feel free to contact</p>
          <a href="tel:+610383766284" class="footer__tel link">+61(0) 383 766 284</a>
        </div>
      </div>
    </div>
  <div class="footer__copyright">
      <p>&#169; 2022 - IceCream.</p>
      <p>All Rights Reserved.</p>
    </div>
  </footer>
