<section class="gallery">
    <h2 hidden>Gallery</h2>
    <div class="container">
        <div class="slider">
            <ul class="slides list">
                <li class="slide-1">
                    <picture>
                        <source
                            srcset="
                                ./images/images-gallery/gallery1-desk-1x.jpg   1x,
                                ./images/images-gallery/gallery1-desk-2x.jpg   2x
                            "
                            media="(min-width:1200px)"
                            sizes="270px"
                        />
                        <source
                            srcset="
                                ./images/images-gallery/gallery1-tab-1x.jpg   1x,
                                ./images/images-gallery/gallery1-tab-2x.jpg   2x
                            "
                            media="(min-width:768px)"
                            sizes="354px"
                        />
                        <source
                            srcset="
                                ./images/images-gallery/gallery1-mob-1x420.jpg   1x,
                                ./images/images-gallery/gallery1-mob-2x420.jpg   2x
                            "
                            media="(max-width:767px)"
                            sizes="100vw"
                        />
                        <img class="slide-img" src="/src/images/images-gallery/gallery1-mob-1x420.jpg" alt="Blackberry icecream" width="100%">
                    </picture>
                </li>
                <li class="slide-2">
                    <picture>
                        <source
                            srcset="
                                ./images/images-gallery/gallery2-desk-1x.jpg   1x,
                                ./images/images-gallery/gallery2-desk-2x.jpg   2x
                            "
                            media="(min-width:1200px)"
                            sizes="270px"
                        />
                        <source
                            srcset="
                                ./images/images-gallery/gallery2-tab-1x.jpg   1x,
                                ./images/images-gallery/gallery2-tab-2x.jpg   2x
                            "
                            media="(min-width:768px)"
                            sizes="354px"
                        />
                        <source
                            srcset="
                                ./images/images-gallery/gallery2-mob-1x420.jpg   1x,
                                ./images/images-gallery/gallery2-mob-2x420.jpg   2x
                            "
                            media="(max-width:767px)"
                            sizes="100vw"
                        />

                        <img class="slide-img" src="/src/images/images-gallery/gallery2-mob-1x420.jpg" alt="Blackberry icecream" width="100%">

                        <img class="slide-img" src="/src/images/images-gallery/gallery2-mob-1x420.jpg" alt="Chocolate icecream" width="100%">

                    </picture>
                </li>
                <li class="slide-3">
                    <picture>
                        <source
                            srcset="
                                ./images/images-gallery/gallery3-desk-1x.jpg   1x,
                                ./images/images-gallery/gallery3-desk-2x.jpg   2x
                            "
                            media="(min-width:1200px)"
                            sizes="270px"
                        />
                        <source
                            srcset="
                                ./images/images-gallery/gallery3-tab-1x.jpg   1x,
                                ./images/images-gallery/gallery3-tab-2x.jpg   2x
                            "
                            media="(min-width:768px)"
                            sizes="354px"
                        />
                        <source
                            srcset="
                                ./images/images-gallery/gallery3-mob-1x420.jpg   1x,
                                ./images/images-gallery/gallery3-mob-2x420.jpg   2x
                            "
                            media="(max-width:767px)"
                            sizes="100vw"
                        />

                        <img class="slide-img" src="/src/images/images-gallery/gallery3-mob-1x420.jpg" alt="Blackberry icecream" width="100%">

                        <img class="slide-img" src="/src/images/images-gallery/gallery3-mob-1x420.jpg" alt="Lemon icecream" width="100%">

                    </picture>
                </li>                
            </ul>
        </div>
    </div>
</section>