<!-- PRODUCTS -->
<section class="products">
  <div class="products__container">
    <h1 class="products__title" id="toproducts">
      <span class="product__accent">100% natural</span> products
    </h1>
    <ul class="cards list">
      <li class="cards__item" id="toinform">
        <picture>
          <source
            srcset="
              ./images/products/ice-cre-des-1x-min.jpeg 1x,
              ./images/products/ice-cre-des-2x-min.jpeg 2x
            "
            media="(max-width:1200px)"
          />
          <source
            srcset="
              ./images/products/ice-cream-1x-min.jpeg 1x,
              ./images/products/ice-crema-2x-min.jpeg 2x
            "
            media="(min-width:1199px)"
          />
          <img
            src="./images/products/ice-cream-1x-min.jpeg"
            width="200"
            height="200"
            alt="ice-crema"
            class="cards__img"
          />
        </picture>
        <img
          src="./images/products/eclipse-ic.svg"
          width="200"
          height="200"
          alt="ice-crema"
          class="cards__img-bg cards__img-bg--ice-cre"
        />
        <div class="cards__content cards__content--color-green">
          <div class="cards__content-place">
            <h2 class="cards__title">ice cream</h2>
            <p class="cards__text">
              Soft ice cream with a delicate taste. Made with milk, cream, sugar
              and natural stabilizer
            </p>
          </div>

          <button class="cards__btn" data-prod-open>
            <svg class="cards__arrow" width="40" height="">
              <use href="./images/products/symbol.svg#icon-arrow1"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="cards__item">
        <picture>
          <source
            srcset="
              ./images/products/ice-co-des-1x-min.jpeg 1x,
              ./images/products/ice-co-des-2x-min.jpeg 2x
            "
            media="(max-width:1200px)"
          />
          <source
            srcset="
              ./images/products/ice-coffee-1x-min.jpeg 1x,
              ./images/products/ice-coffee-2x-min.jpeg 2x
            "
            media="(min-width:1199px)"
          />
          <img
            src="./images/products/ice-coffee-1x-min.jpeg"
            width="200"
            height="200"
            alt="ice-coffee"
            class="cards__img"
          />
        </picture>

        <img
          src="./images/products/ellipse-ic-co.svg"
          width="200"
          height="200"
          alt="ice-crema"
          class="cards__img-bg cards__img-bg--ice-co"
        />
        <div class="cards__content cards__content--color-yellow">
          <div class="cards__content-place">
            <h2 class="cards__title">ice coffee</h2>
            <p class="cards__text">
              Fragrant invigorating drink created from 100% natural ingredients
              without the use of preservatives and flavor enhancers
            </p>
          </div>

          <button class="cards__btn" data-prod-opens>
            <svg class="cards__arrow" width="40" height="">
              <use href="./images/products/symbol.svg#icon-arrow1"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="cards__item">
        <picture>
          <source
            srcset="
              ./images/products/milksh-des-1x-min.jpeg 1x,
              ./images/products/milksh-des-2x-min.jpeg 2x
            "
            media="(max-width:1200px)"
          />
          <source
            srcset="
              ./images/products/milkshakes-1x-min.jpeg 1x,
              ./images/products/milkshakes-2x-min.jpeg 2x
            "
            media="(min-width:1199px)"
          />
          <img
            src="./images/products/milkshakes-1x-min.jpeg"
            width="200"
            height="200"
            alt="milkshakes"
            class="cards__img"
          />
        </picture>

        <img
          src="./images/products/ellipse-mil.svg"
          width="200"
          height="200"
          alt="ice-crema"
          class="cards__img-bg cards__img-bg--mil"
        />
        <div class="cards__content cards__content--color-brown">
          <div class="cards__content-place">
            <h2 class="cards__title">milkshakes</h2>
            <p class="cards__text">
              Sweet drinks based on milk and ice cream, supplemented with
              syrups, fruits, berries and other sweets of your choice
            </p>
          </div>

          <button class="cards__btn" data-prod-openss>
            <svg class="cards__arrow" width="40" height="">
              <use href="./images/products/symbol.svg#icon-arrow1"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- MODAL FORM -->
<div class="bacdrop is-hidden" data-prod>
  <div class="modal-pro">
    <button type="button" class="modal-pro__btn-close btn" data-prod-close>
      <svg class="franchise__icon icon-close-btn" width="16" height="16">
        <use href="./images/icons.svg#icon-modal-close"></use>
      </svg>
    </button>

    <h2 class="modal-pro__title">Chololate icecream</h2>
    <div class="modal-pro__view">
      <div class="modal-pro__container">
        <picture>
          <source
            srcset="
              ./images/products/modal-img-mob-1x-min.jpeg 1x,
              ./images/products/modal-img-mob-2x-min.jpeg 2x
            "
            media="(min-width:1900px)"
          />
          <img
            src="./images/products/modal-img-mob-1x-min.jpeg"
            alt="ice cream"
            class="modal-pro__img"
          />
        </picture>

        <img
          src="./images/products/eclipse-ic.svg"
          alt="background"
          width="131"
          height="131"
          class="modal-pro__img-bg"
        />
      </div>

      <ul class="benefiit__list list">
        <li class="benefit__item">
          <span class="benefit__circle">320</span>
          kcal
        </li>
        <li class="benefit__item">
          <span class="benefit__circle">4g</span>
          Prote...
        </li>
        <li class="benefit__item">
          <span class="benefit__circle">8,2g</span>
          Fats
        </li>
        <li class="benefit__item">
          <span class="benefit__circle">40,4g</span>
          Carbs
        </li>
      </ul>
    </div>
    <div class="ingredients">
      <h3 class="ingredients__title">Ingredients</h3>
      <ul class="ingredients__list list">
        <li class="ingredients__item">
          <p class="text">Milk</p>
          <p class="text">100ml</p>
        </li>
        <li class="ingredients__item">
          <p class="text">Belgian chocolate</p>
          <p class="text">20g</p>
        </li>
        <li class="ingredients__item">
          <p class="text">Cream</p>
          <p class="text">150ml</p>
        </li>
        <li class="ingredients__item">
          <p class="text">Cocoa powder</p>
          <p class="text">30g</p>
        </li>
        <li class="ingredients__item">
          <p class="text">Sugar</p>
          <p class="text">40g</p>
        </li>
        <li class="ingredients__item">
          <p class="text">Vanilla sugar</p>
          <p class="text">10g</p>
        </li>
      </ul>
    </div>
    <div class="modal-pro-input input">
      <ul class="input__list list">
        <li class="input__item">
          <input
            type="text"
            class="input__form"
            name="user-name"
            required
            id="user-name"
            placeholder="Name"
          />
        </li>
        <li class="input__item">
          <input
            type="tel"
            class="input__form"
            name="user-tel"
            required
            minlength="10"
            id="user-tel"
            placeholder="Phone"
          />
        </li>
      </ul>
      <div class="coment">
        <textarea
          class="coment__input"
          name="user__coment"
          placeholder="Comment"
        ></textarea>
        <button type="submit" class="input__btn btn">Submit</button>
      </div>
    </div>
  </div>
</div>
<script src="./js/products.js"></script>
