.contacts {
  background-color: #84a178;
  height: 1062px;
  @include tablet {
    height: 326px;
  }

  @include desktop {
    height: 548px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    top: -345px;
    position: relative;

    @include tablet {
      top: -304px;
    }

    @include desktop {
      top: -96px;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 32px;

    @include tablet {
      flex-direction: row;
      gap: 16px;
      padding-bottom: 60px;
    }

    @include desktop {
      flex-direction: row;
      gap: 32px;
      height: 538px;
      top: -96px;
    }
  }

  &__info {
    padding: 40px 32px;
    margin-left: auto;
    margin-right: auto;
    height: 412px;

    max-width: 280px;
    background: #fcfcfc;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    @include tablet {
      padding: 40px 24px;
      height: 528px;
      max-width: 224px;
    }

    @include desktop {
      padding: 40px;
      max-width: 368px;
      height: 538px;
    }
  }

  &__name {
    @include font(500, 12, 1.86, 0.04);
    display: flex;
    justify-content: center;

    color: #131313;
    background-color: #f8d24e;
    border-radius: 4px;
    width: 80px;
    height: 16px;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;

    @include tablet {
      @include font(500, 16, 1.87, 0.04);
      width: 73px;
      height: 28px;
      margin-bottom: 32px;
    }

    @include desktop {
      @include font(500, 16, 1.87, 0.04);
      width: 75px;
      height: 28px;
      margin-bottom: 32px;
    }
  }

  &__city {
    @include font(500, 12, 1.83, 0.04);
    color: #131313;
    margin-bottom: 8px;

    @include tablet {
      @include font(500, 14, 1.85, 0.04);
      margin-bottom: 12px;
    }

    @include desktop {
      @include font(500, 16, 1.87, 0.04);
      margin-bottom: 8px;
    }
  }

  &__adress {
    @include font(500, 12, 1.83, 0.04);
    color: #d6936d;
    padding-bottom: 24px;
    border-bottom: 1px solid #e1e1e1;

    @include tablet {
      @include font(500, 14, 1.85, 0.04);
      padding-bottom: 26px;
    }

    @include desktop {
      @include font(500, 16, 1.81, 0.04);
      padding-bottom: 32px;
    }
  }

  &__worktime {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e1e1e1;
    @include tablet {
      padding-top: 32px;
      padding-bottom: 32px;
    }
    @include desktop {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  &__workdays {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    color: #131313;

    @include tablet {
      font-size: 14px;
      line-height: 1.85;
    }

    @include desktop {
      font-size: 16px;
      line-height: 1.87;
    }
  }

  &__workhours {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    color: #ababab;

    @include tablet {
      font-size: 14px;
      line-height: 1.85;
    }

    @include desktop {
      font-size: 16px;
      line-height: 1.87;
    }
  }

  &__workhours:not(:last-child) {
    margin-bottom: 8px;

    @include largerThanMobile {
      margin-bottom: 12px;
    }
  }

  &__list {
    margin-top: 24px;

    @include largerThanMobile {
      margin-top: 32px;
    }
  }

  &__mail {
    @include font(500, 12, 1.5, 0.04);
    color: #131313;

    @include tablet {
      font-size: 14px;
      line-height: 1.85;
    }

    @include desktop {
      font-size: 16px;
      line-height: 1.81;
    }
  }

  &__tel {
    @include font(500, 12, 1.5, 0.04);
    color: #131313;

    @include tablet {
      font-size: 14px;
      line-height: 1.85;
    }
    @include desktop {
      font-size: 16px;
      line-height: 1.81;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    @include largerThanMobile {
      flex-direction: row;
    }
  }

  &__btn {
    display: flex;
    width: 196px;
    height: 42px;
    gap: 6px;

    @include font(600, 14, 1.29, 0.03);

    justify-content: center;
    align-items: center;
    text-align: center;
    color: #131313;
    border-radius: 10px;
  }

  &__locations__btn {
    background-color: #f8d24e;
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: #0a8817;
      transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:focus {
      color: #fcfcfc;
      transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__franchise__btn {
    background-color: transparent;
    border: 2px solid #f8d24e;
    transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border: 2px solid #0a8817;
      transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:focus {
      color: #fcfcfc;
      transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__icon {
    stroke: currentColor;
    transition: stroke 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__container {
    @include desktop {
      display: flex;
      gap: 64px;
    }
  }
}

.franchise__send-btn {
  margin-left: auto;
  margin-right: auto;
}

.background {
  width: 130px;
  height: 16px;

  @include tablet {
    width: 138px;
    height: 28px;
  }

  @include desktop {
    width: 138px;
    height: 28px;
  }
}
