.footer {
    background-color: #84A178;
    padding-top: 38px;
    margin-left: 0;
    margin-right: 0;

        @include tablet {
            padding-top: 40px;
        }
        
        @include desktop {
            padding-top: 120px;
        }

    &__container {
        @include tablet {
            padding-bottom: 32px;
        }

        @include largerThanMobile {
            display: flex;
            justify-content: space-between;   
        }

        @include desktop {
           padding-bottom: 54px; 
           align-items: flex-end;
        }
    }

    &__communication {
        padding-bottom: 40px;
        flex-shrink: 0;

        @include tablet {
            padding-top: 24px;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        @include font(700, 18, 1.22, 0.02);
        color: #FCFCFC;
        
        @include tablet {
            @include font(700, 26, 1.23, 0.04);
        }

        @include desktop {
            @include font(400, 30, 1.23, 0.04);
        }
        
        &--bold {
            margin-top: 16px;
            @include font(700, 34, 1.2, 0.04);
    
            @include tablet {
                margin-top: 10px;
                @include font(700, 48, 1.22, 0.06);
            }
    
            @include desktop {
                margin-top: 14px;
                @include font(700, 58, 1.22, 0.06);
            }
        }
    }

    &__contact {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-top: 32px;
    }

    &__invite {
        margin-right: 5px;
        @include font(700, 12, 1.23, 0.03);
            color: #131313;

        
        @include tablet{
            @include font(700, 14, 1.86, 0.03);
        }
        
        @include desktop {
            @include font(700, 15, 1.86, 0.02);
        }
    }    

    &__tel {
        @include font(700, 12, 1.23, 0.03);
            color: #FCFCFC;
        
        @include tablet{
            @include font(700, 14, 1.86, 0.03);
        }

        @include desktop {
            @include font(700, 15, 1.86, 0.02);
        }
    }

    &__copyright {
        padding-top: 16px;
        padding-bottom: 62px;
        border-top: 1px solid #E1E1E1;
        
        @include font(700, 14, 1.5, 0.03);
            
        text-align: center;
        color: #7A7A7A;

        @include tablet {
            padding-top: 14px;
            padding-bottom: 14px;
            display: flex;
            justify-content: center;

            @include font(700, 14, 1.9, 0.02);
        }
        
        @include desktop {
            display: flex;
            justify-content: center;
            padding-bottom: 12px;
            padding-top: 12px;
            width: 1168px;
            margin-left: auto;
            margin-right: auto;

            @include font(700, 12, 1.9, 0.02);
        }
    }
}

.social {
    display: flex;
    justify-content: right;
    gap: 28px;
    margin-top: 42px;
    
    @include tablet {
        gap: 30px;
    }

    &__link {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color:#F8D24E;
      transition: transform 0.2s ease-in-out;
  
      &:hover{
        transform: scale(0.94);
      }

      &:focus {
        transform: scale(1.12);
      }
    }

    &__icon {
      display: block;
      fill: #84A178;
    
      .social__link:hover & {
        fill: #ffffff;
      }

      .social__link:focus & {
        fill: #ffffff;
      }
    } 
 }



 